



/*Navbar*/
.navbar{
    background-color: #66fcf1;
}
.nav-item{
    font-size: 1.5em;
    margin-left: 2em;
}




/*landing cards staggered*/
.landing-row{
    margin-top: 80px;
}
.card1{
    margin-top: 8em;
}


.card3{
    margin-top: 12em;
}


/*******************************************************/