<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments :: myheader"></div>

    <div th:replace="fragments :: css"></div>

    <title>posts</title>
</head>
<body>
<div th:replace="fragments :: landing-navbar"></div>

<div class="row  landing-row">

<div class="col-md-4 card1">
    <div class="card">
        <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

</div>


    <div class="col-md-4 card2">
        <div class="card" >
            <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>


    <div class="col-md-4 card3">
        <div class="card" >
            <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>



    <div class="col-md-4 card4">
        <div class="card" >
            <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</div>
<button class="btn btn-secondary"></button>



<div th:replace="fragments :: jsFile"></div>

</body>
</html>